* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --link-color: #ff5e13;
    --headings-color: #828bb2;
    --background-color: #f9f9ff;
    --button-background-color: #ffc107;
    --button-font-color: #888;
}


body {
    /* font-family: 'Courgette', cursive; */
    font-size: 18px;
    line-height: 22px;
    /*background-color: yellow;*/
}

h1 {
    font-family: 'Courier Prime', monospace;
    text-align: center;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    padding: 3vh 0;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    min-height: 100vh;
    margin: 2vh 3vw;
}

.weatherIcon {
    border: none;
}

/* icons start */
.clearSkyD {
    /* display: block; */
    background: url("/images/icons/02d@2x.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
    /* border: 1px red solid; */
}

.textTemperature {
    background-color: white;
    font-size: 14px;
}

.leaflet-div-icon {
    width: 38px;
    height: 38px;
    border: none;
}

/* icons end */

.forecast {
    display: none;
    flex-direction: column;
    align-content: flex-start;
    width: 50vw;
    margin-top: 20px;
}

.tableData {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.tableRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin: 10px 0;
}

.temp_wind,
.feels_rain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
}

.labels,
.values {
    display: flex;
    flex-direction: column;
    margin: 0 16px;
    min-width: 9vw;
}

.place>p {
    font-size: 40px;
}

.hour,
.icon {
    min-width: 7vw;
}

.hour>p {
    font-size: 40px;
}

/* start loader */
.lds-grid {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-grid div {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #000;
    animation: lds-grid 1.2s linear infinite;
}

.lds-grid div:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
}

.lds-grid div:nth-child(2) {
    top: 8px;
    left: 32px;
    animation-delay: -0.4s;
}

.lds-grid div:nth-child(3) {
    top: 8px;
    left: 56px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(4) {
    top: 32px;
    left: 8px;
    animation-delay: -0.4s;
}

.lds-grid div:nth-child(5) {
    top: 32px;
    left: 32px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(6) {
    top: 32px;
    left: 56px;
    animation-delay: -1.2s;
}

.lds-grid div:nth-child(7) {
    top: 56px;
    left: 8px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(8) {
    top: 56px;
    left: 32px;
    animation-delay: -1.2s;
}

.lds-grid div:nth-child(9) {
    top: 56px;
    left: 56px;
    animation-delay: -1.6s;
}

@keyframes lds-grid {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}

/* end loader */
/* start tableData */
.weatherDetails {
    display: inline-block;
    text-decoration: none;
    color: black;
    background-color: silver;
    border: 1px solid black;
    padding: 10px;
    margin: 15px 2px;
}

.weatherDetailsSelected {
    background-color: white;
}

/* end tableData */
